<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
 
  <servlet>
  	<servlet-name>SendMailServlet</servlet-name>
  	<servlet-class>com.zgm.servlet.SendMailServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>allRequestServlet</display-name>
  	<servlet-name>allRequestServlet</servlet-name>
  	<servlet-class>com.zgm.servlet.allRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMailServlet</servlet-name>
    <url-pattern>/zhuce</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>allRequestServlet</servlet-name>
  	<url-pattern>/vb.php</url-pattern>
  </servlet-mapping>
</web-app>